<!DOCTYPE html>
<html>
  <body>
    <% @products.each do |product| %>
      <h1><%= product.name %></h1>
      <p id='description'><%= truncate.product.description %></p>
      <button type="button" class="button" onclick="showContent()"></button>
    <% end %>
  </body>
</html>

<script type="text/javascript">
  function showContent() {
    $(function () {
      $('.button').on('click', function () {
        $.get('/products/' + id '/inventory', function () {
          const content = resp.body 
          $('#description').html(content)
        })
      })
    })
  }
</script>
