<!DOCTYPE html>
<html>
  <body>
    <% @products.each do |product| %>
      <h1><%= product.name %></h1>
      <p><%= truncate.product.description %></p>
      <button type="button" class="button" onclick="showContent()"></button>
    <% end %>
  </body>
</html>
